body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1
{
    text-align: center;
    font-family:fantasy;
}

.container
{
    width: 600px;
    height: 600px;
    outline-style: solid;
    color: black;
    display: flex;
}


.column
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cell
{
    flex-grow: 1;
    outline-style: solid;
    color: black;
    outline-width: 0.8px;
}