body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

h1
{
    font-family: fantasy;
}

.content
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#reset
{
    min-height: 60px;
    background-color: rgb(7, 193, 159);
    border-radius: 20px;
    color: rgba(241, 233, 233, 0.927);
    outline: none;
    font-family: fantasy;
    font-weight: bold;
}

.container
{
    width: 600px;
    height: 600px;
    outline-style: solid;
    color: black;
    display: flex;
}


.column
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cell
{
    flex-grow: 1;
    outline-style: solid;
    color: black;
    outline-width: 0.8px;
}